

/* Overriding global css ant design */

/*	Menu */

.ant-menu-item {

  padding: 0 20px !important;
  margin: 0 !important;
}

.ant-menu-item-active {
}

.ant-menu-item-selected {
}

/* SubMenu */
/* .ant-menu-submenu-horizontal .ant-menu-submenu-selected */
.ant-menu-submenu {
  padding: 0 20px !important;
  margin: 0 !important;
}

.ant-menu-submenu-active {
  background: #4fbfa8 !important;
}

.ant-menu-submenu-selected {
  background: #4fbfa8 !important;
} 


.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  background-color: #4fbfa8 !important;
}

/* Text */

h1.ant-typography, .ant-typography h1{
    font-weight: 500;
    font-size: 2.25rem;
}

/* Pagination */
.ant-pagination-item {
  color: #4fbfa8;
  margin-right: 0px !important;
}
.ant-pagination-item-active{
    /* font-weight: 500; */
    background: #4fbfa8;
    border-color: #1890ff;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-prev {
  margin-right: 8px !important;
}

.ant-pagination-jump-prev {
  margin-right: 8px !important;

}

.ant-pagination-jump-next {
  margin-right: 8px !important;

}